<div class="container">
  <div class="card mb-3 about-margin">
    <div class="card-block">
      <h1 class="card-title"><span class="fa fa-info-circle"> O stranici</span></h1>
      <p class="card-text">Dobrodošli na stranicu DCWS (engl. Davor Češljaš Web Shop)</p>
      <p class="card-text">
        Stranica služi za oglašavanje proizvoda tvrtki i fizičkih osoba koji sa vlasnikom ove web stranice imaju potpisan
        ugovor o suradnji.
      </p>

      <p class="card-text">
        Registracijom na ovu web stranicu svi Vaši podaci su zaštićeni i poznati samo Vama i ponuđaču proizvoda kojeg kupujete
      </p>

      <p class="card-text">
        Ukoliko ste zainteresirani za prodaju na našem web shopu kontaktirajte nas e-mailom na <i><b>davor.cesljas@fer.hr</b></i>
      </p>

      <hr>
      <small>Zahvala <a href="http://www.fer.unizg.hr/">Fakultetu Elektrotehnike i Računarstva, Sveučilišta u Zagrebu</a> također zahvala
        stranici <a href="http://getbootstrap.com/">Bootstrap</a> za svu stilizaciju na ovoj web stranici te <a href="https://angular.io/">Angular 2</a>
        i <a href="http://rubyonrails.org/">Ruby on Rails</a> timovima
      </small>
      <p class="card-text"><small class="name-surname">Davor Češljaš</small></p>
    </div>
  </div>
</div>
