<h1 align="center">Svi proizvodi</h1>

<div class="container">
  <!-- Gornji pagination-->
  <ngb-pagination [collectionSize]="getSize()" [(page)]="page" [pageSize]="getPageSize()" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage()"></ngb-pagination>
  <div class="card-group">
    <dcws-product-list-item *ngFor="let product of pageProducts"
                            [product]="product"></dcws-product-list-item>
  </div>
  <!-- Donji pagination-->
  <ngb-pagination [collectionSize]="getSize()" [(page)]="page" [pageSize]="getPageSize()" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage()"></ngb-pagination>


</div>
