<template #content let-close="close">
  <div class="dark-modal">

    <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span class="fa fa-times" aria-hidden="true"></span>
      </button>
      <h3 align="center" class="modal-title">{{toShow.title}}</h3>
      <hr>

      <img class="shape-circle"
           src="{{toShow.picture}}"
           alt="Card image cap"
           align="middle"
      >
      <hr>
      <p><b>Opis proizvoda: </b></p>
      <div class="container">
        <p align="center"> {{toShow.description}} </p>
      </div>

      <hr>
      <div *ngIf="toShow.categories">
        <label><b>Kategorije proizvoda: </b></label>
        <div class="col-12 centered">
          <h4 class="inline" align="center" *ngFor="let categoryName of toShow.categories">
            <span class="badge badge-info">{{categoryName}}</span>
          </h4>
        </div>
      </div>
      <hr>

      <p style="float: right"><b>Cijena: </b> {{toShow.price | number:'1.2-2'}} HRK</p>
      <p *ngIf="toShow.availability"><small class="available">Proizvod je dostupan</small></p>
      <p *ngIf="!toShow.availability"><small class="not-available">Proizvod nije dostupan</small></p>

      <p align="center" class="card-text"><small><b>Kontakt oglašivača: </b> {{toShow.email_seller}}</small></p>
      <div *ngIf="profileService.getPrivilege() == 0">
        <button [disabled]="!toShow.availability"
                type="button"
                class="btn btn-outline-warning add-to-cart"
                (click)="addToCart()">
          <span class="fa fa-shopping-cart"></span> Dodaj u košaricu
        </button>
        <br>
        <hr>
        <hr>
        <h5 align="center">Kupci koji su kupili ovaj proizvod, kupili su još i: </h5>
        <hr>
        <hr>
        <div class="card-group" style="overflow-x: hidden">
          <a *ngFor="let recProd of recommended"
             class="recommand-size" style="cursor: pointer" (click)="close();openProduct(content, recProd)">
            <div>
              <div class="card card-margin" style="width: 20rem;">
                <img class="card-img-top recommand-img-size" src="{{recProd.picture}}" alt="Card image cap">
                <div class="card-block recommand-product-title">
                  <h5 class="card-title" style="overflow: hidden"><b>{{recProd.title}}</b></h5>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>




<a style="cursor: pointer" (click)="openProduct(content, product)">
  <div class="col-">
    <div class="card card-margin" style="width: 20rem;">
      <img class="card-img-top img-size"
           src="{{product.picture}}"
           alt="https://upload.wikimedia.org/wikipedia/commons/6/66/Svengraph_Box.png">
      <div class="card-block">
        <h4 align="center" class="card-title"><b>Naziv proizvoda: </b></h4>
        <h4 align="center" class="card-title">{{product.title}}</h4>
        <p class="card-text"><b>Opis proizvoda: </b></p>
        <p align="center">{{product.description.substring(0, substringLength).concat(product.description.length > substringLength ? "...":"")}}</p>
        <div *ngIf="product.categories">
          <div class="col-12 centered">
            <h4 align="center" *ngFor="let categoryName of product.categories">
              <span class="badge badge-info">{{categoryName}}</span>
            </h4>
          </div>
        </div>
        <hr>
        <p class="card-text"><b>Cijena: </b> {{product.price | number:"1.2-2"}} HRK</p>
        <p *ngIf="product.availability"><small class="available">Proizvod je dostupan</small></p>
        <p *ngIf="!product.availability"><small class="not-available">Proizvod nije dostupan</small></p>
        <p class="card-text"><small><b>Kontakt oglašivača: </b></small></p>
        <p class="card-text" style="float: right"><small>{{product.email_seller}}</small></p>
      </div>
    </div>
  </div>
</a>
