.img-size {
  max-height: 180px;
  max-width: 318px;
}

.available {
  color: green;
}

.not-available {
  color: red;
}

.card-margin {
  margin-bottom: 6%;
}

a:hover {
  text-decoration: none;
}

.shape-circle {
  border-radius: 10%;
  max-height: 75%;
  max-width: 75%;
  display: block;
  margin: 0 auto;
}

.modal-body {
  padding-bottom: 10%;
}

.add-to-cart {
  float: right;
}
.close {
  float: right;
}

.dark-modal {
  background-color: #292b2c;
  color: white;
}

span.fa-times {
  color: red;
}
