<div class="container">
  <h1 align="center">Nadzor kupaca</h1>
  <!-- Gornji pagination-->
  <ngb-pagination *ngIf="getSize()>getPageSize()" [collectionSize]="getSize()" [(page)]="page" [pageSize]="getPageSize()" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage()"></ngb-pagination>

  <dcws-user-small *ngFor="let buyer of pageBuyers" [user]="buyer" (deleted)="onDeleteUser($event)"></dcws-user-small>

  <!-- Donji pagination-->
  <ngb-pagination *ngIf="getSize()>getPageSize()" [collectionSize]="getSize()" [(page)]="page" [pageSize]="getPageSize()" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage()"></ngb-pagination>


</div>
