<div class="container">
  <div class="card change-password-margin">
    <h1 align="center">Promjena Lozinke</h1>
    <h3 align="center">Upišite i potvrdite vašu novu lozinku</h3>
    <br>
    <div class="container">
      <form (ngSubmit)="changePassword(f)" #f="ngForm">
        <!-- Stara lozinka-->
        <div class="form-group row">
          <label for="old_password" class="col-sm-2 col-form-label">Stara lozinka</label>
          <div class="col-sm-10">
            <input type="password"
                   class="form-control"
                   id="old_password"
                   placeholder="Upišite staru lozinku"
                   name="old_password"
                   [(ngModel)]="passwordChangeData.oldPassword"
            >
          </div>
        </div>

        <!-- Nova lozinka-->
        <div class="form-group row">
          <label for="new_password" class="col-sm-2 col-form-label">Nova lozinka</label>
          <div class="col-sm-10">
            <input type="password"
                   class="form-control"
                   id="new_password"
                   placeholder="Upišite novu lozinku"
                   name="new_password"
                   [(ngModel)]="passwordChangeData.newPassword"
            >
          </div>
        </div>

        <!-- Nova lozinka ponovo-->
        <div class="form-group row">
          <label for="new_password_again" class="col-sm-2 col-form-label">Ponovite lozinka</label>
          <div class="col-sm-10">
            <input type="password"
                   class="form-control"
                   id="new_password_again"
                   placeholder="Ponovite Vašu novu lozinku"
                   name="new_password_again"
                   [(ngModel)]="passwordChangeData.newPasswordAgain"
            >
          </div>
        </div>

        <div class="button-position">
          <input type="submit" class="btn btn-lg btn-outline-primary" [disabled]="!f.valid" value="Promijeni lozinku">
        </div>
      </form>
    </div>
  </div>
</div>
