<ul class="nav flex-column left-dropdown">
  <li class="nav-item" *ngIf="isDropped">
    <ul class="nav flex-column left-dropdown">
      <li class="nav-item nav-item-center" *ngFor="let category of categories">
        <a class="nav-link" href="#">{{category.name}}</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <h3 align="center">
      <span (click)="changeState()" style="cursor: pointer" placement="right" ngbTooltip="Kategorije" class="fa" dcwsMenuDropdown></span>
    </h3>
  </li>
</ul>
